apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: {{ issuer_email }}
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: staging-issuer-account-key
    solvers:
    - dns01:
{% if provider == "gcp" %}
        cloudDNS:
          project: {{ gcp.project }}
          serviceAccountSecretRef:
            name: clouddns-dns01-solver
            key: key.json
{% elif provider == "azure" %}
        azureDNS:
          clientID: {{ azure.client_id }}
          clientSecretSecretRef:
            name: azuredns-config
            key: client-secret
          subscriptionID: {{ azure.subscription_id }}
          tenantID: {{ azure.tenant_id }}
          resourceGroupName: {{ azure.resource_group }}
          hostedZoneName: {{ azure.dns_zone }}
          environment: AzurePublicCloud
{% endif %}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: {{ issuer_email }}
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: prod-issuer-account-key
    solvers:
    - dns01:
{% if provider == "gcp" %}
        cloudDNS:
          project: {{ gcp.project }}
          serviceAccountSecretRef:
            name: clouddns-dns01-solver
            key: key.json
{% elif provider == "azure" %}
        azureDNS:
          clientID: {{ azure.client_id }}
          clientSecretSecretRef:
            name: azuredns-config
            key: client-secret
          subscriptionID: {{ azure.subscription_id }}
          tenantID: {{ azure.tenant_id }}
          resourceGroupName: {{ azure.resource_group }}
          hostedZoneName: {{ azure.dns_zone }}
          environment: AzurePublicCloud
{% endif %}